In [ ]:
# arithmetic calculations
m=int(input("Enter a number:"))
n=int(input("enter a second number:"))
while(1):
    print("1.sum\n2.subtract \n3.multiply\n4.divide\n")
    ch=int(input("enter yout choice:"))
    if (ch==1):
        print("\nsum = ",m+n)
    elif(ch==2):
        print("difference = ",m-n)
    elif(ch==3):
        print("multiplication = ",m*n)
    else:
        print("division = ",m/n)

Enter a number:5
enter a second number:10
1.sum
2.subtract
3.multiply
4.divide

enter yout choice:1

sum =  15
1.sum
2.subtract
3.multiply
4.divide

enter yout choice:2
difference =  -5
1.sum
2.subtract
3.multiply
4.divide

enter yout choice:3
multiplication =  50
1.sum
2.subtract
3.multiply
4.divide

enter yout choice:4
division =  0.5
1.sum
2.subtract
3.multiply
4.divide

In [25]:
# string
a=input("enter the first string:")
b=input("enter the second string:")
print("\n LENGTH OF STRINGS")
print("length of string=",len(a))
print("length of string=",len(b))
print("\nUPPERCASE & LOWERCASE")
print("lowercase=",a.lower())
print("lowercase=",b.upper())
print("\nCONCATANATION")
c=a+" "+b
print(c)
print("\nCHARACTER EXTRACTION")
print("character at 3rd position=",a[3])
print("slicing of first string=",a[2:4])
print("\nstring replace")
s= "Hello World"
new= s.replace("Hello", "Good Bye")
print("repalce hello with goodbye:",new)
print("\nboolean")
p=True
q=False
print("AND:   ",p and q)
print("OR:",p or q)
print("NOT:",not p)

enter the first string:ARCHANA
enter the second string:pradeep

 LENGTH OF STRINGS
length of string= 7
length of string= 7

UPPERCASE & LOWERCASE
lowercase= archana
lowercase= PRADEEP

CONCATANATION
ARCHANA pradeep

CHARACTER EXTRACTION
character at 3rd position= H
slicing of first string= CH

string replace
repalce hello with goodbye: Good Bye World

boolean
AND:    False
OR: True
NOT: False

In [10]:
#list
n=input("enter the colors :")
p=n.split(",")
print("first color is:",p[0])
print("last color is:",p[-1])

enter the colors :red,blue,orange
first color is: red
last color is: orange

In [1]:
#dictionary and loop
a={}
for i in range(2):
    name=input("name:")
    age=input("age:")
    
    a[name]=age
print(a)
l=list(a.items())
l.sort()
print(l)

name:archana
age:21
name:yadu
age:22
{'archana': '21', 'yadu': '22'}
[('archana', '21'), ('yadu', '22')]

In [20]:
#set
set = {"apple", "banana", "cherry"}
print(set)

{'banana', 'apple', 'cherry'}

In [15]:
#function
def my_function(fname):
  print(fname + " MCA")

my_function("Abinand")
my_function("Afnan")
my_function("Akash")

Abinand MCA
Afnan MCA
Akash MCA